"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
$directory\
$git_branch\
$git_state\
$git_status\
$jobs\
$kubernetes\
$docker_context\
$c\
$cmake\
$deno\
$elixir\
$golang\
$lua\
$nodejs\
$python\
$rust\
$zig\
$cmd_duration\
$status\
$line_break\
$character"""

[memory_usage]
disabled = false
symbol = ""
threshold = 30
format = "[$symbol ${ram}]($style)"

[git_branch]
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "
style = "fg:#d13e11" 

[git_status]
format = '([\[ $all_status$ahead_behind\]]($style) )'
diverged = "<>^${ahead_count}~${behind_count}"
conflicted = "=${count} "
behind = "~${count} "
ahead = "^${count} "
modified = "!${count} "
untracked = "?${count} "
stashed = "$${count} "
staged = "+${count} "
deleted = "x${count} "
renamed = "»${count} "
style = "fg:#d13e11" 

[status]
disabled = false
format = "[$symbol $status]($style)"
symbol = ""

[cmd_duration]
min_time = 500
show_milliseconds = true
format = "[ $duration]($style) "

[directory]
truncate_to_repo = false
truncation_length = 1
style = "#0c90ad"
read_only = " "

[c]
format = "[$symbol($version(-$name) )]($style)"
symbol = " "

[docker_context]
format = "[$symbol$context]($style)"
symbol = " "

[elixir]
format = '[$symbol($version \(OTP $otp_version\) )]($style)'
symbol = " "

[golang]
format = "[$symbol($version )]($style)"
symbol = " "

[nodejs]
format = "[$symbol($version )]($style)"
symbol = " "

[package]
symbol = " "

[python]
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
symbol = " "

[rust]
format = "[$symbol($version )]($style)"
symbol = " "
